@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

:root {
  --primary: #8bc34a;
  --secondary: #d81b60;
  --neutral: #dee2e3;
}

*,
*::before,
*::after {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

body {
  margin: 0;
  font-size: 16px;
  /*display: flex;
  justify-content: center;*/
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  border-radius: 10px;
  background-color: var(--neutral);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: none;
  box-shadow: 24;
  padding: 2rem;
  /* padding: 4 */
  border-radius: 10px;
}

.grid {
  margin: 0 !important;
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gridItem {
  border: 3px solid var(--primary) !important;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: inherit !important;
}

.text-primary {
  color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.addCircleIcon {
  fill: var(--primary) !important;
  transform: scale(1.5) !important;
}

h1 {
  margin-bottom: 1rem !important;
}
